<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Calculatrice</title>
</head>
<body>
    
</table>
<form action="/add" method="POST">
    <label>Nombre1</label>
    <input type="number"  name="nombre1">
    <label>Nombre2</label>
    <input type="number"  name="nombre2">
    <button type="submit">Ok</button>
    



</form>


</body>
</html>