<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <title>Page techno</title>

  <style>
  
  
  
  
  
  </style>



</head>






<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Menus</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto nav justify-content-center ">
              
            <li class="nav-item">
                <a class="nav-link active" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/views/techno.ejs">Techno</a>
            </li>
              <li class="nav-item">
                <a class="nav-link" href="/">Calculatrice</a>
            </li>
            
          </ul>
          
          
        </div>
      </nav>
    

    <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-4" style="margin-top: 30px">
          
                        <table class="table table-striped">
                                <thead class="thead-dark">
                                  <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Nom des techno</th>
                                    <th scope="col">Description</th>
                                  </tr>
                                </thead>

                                <tbody>
                                  <tr>
                                    <th scope="row">1</th>
                                    <td>Node.Js</td>
                                    <td>C'est un outil permet de développer côté serveur alors qu'à l'origine le JavaScript est un langage utilisé côté client pour rendre l'interface plus dynamique avec des effets, des transitions et des animations.</td>
                                  </tr>

                                  <tr>
                                    <th scope="row">2</th>
                                    <td>Node Pakage Manager</td>
                                    <td>Gestionnaire de paquets officiel de Node.js</td>
                                  </tr>

                                  <tr>
                                        <th scope="row">3</th>
                                        <td>Package.json</td>
                                        <td>C’est un fichier qui liste tous les paquets dont le projet dépend ainsi que plusieurs informations comme la version, l’auteur, la description</td>
                                      </tr>

                                    <tr>
                                        <th scope="row">4</th>
                                        <td>EJS</td>
                                        <td>Il s'agit d'un template qui génère du code HTML avec du javascript, il permet de rendre le code plus lisible avec une syntaxe simple</td>

                                    </tr>

                                    <tr>
                                        <th scope="row">5</th>
                                        <td>body-parser</td>
                                        <td>C'est un middlewares qui permet de  gérer les données postées par un formulaire</td>
    
                                    </tr>

                                    <tr>
                                        <th scope="row">6</th>
                                        <td>Express.js</td>
                                        <td>Express.js est un framework pour construire des applications web basées sur Node.js. C'est de fait le framework standard pour le développement de serveur en Node.js</td>
        
                                    </tr>

                                    <tr>
                                        <th scope="row">7</th>
                                        <td>MongoDB Atlas</td>
                                        <td>C'est une base de données sous forme de service cloud(en ligne)</td>
            
                                    </tr>


                                </tbody>
                             </table>
              





                </div>


            </div>

    </div>
            
      

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

</body>

</html>